@model IEnumerable<NC_21.Models.CSGradeDetail>



@{ string xin = "";}
@foreach (var s in ViewBag.lista)
{


    @if (s.Id > -1)
    {
        <tr>
            <td>@if (xin != s.I_N) { @s.I_N} </td>
            <td>
                @if (s.Data.Year > 1900)
                {@s.Data.ToString("dd/MM/yyyy")}
            </td>
            <td>
                @if (s.Ocena > 0)
                {@s.Ocena}
            </td>
        </tr>
        xin = s.I_N;
    }

}



